/* App overrides */
#root {
  min-height: 100vh;
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  border: none;
  display: block;
}

@keyframes zoomIn {
  from { transform: scale(1); }
  to { transform: scale(1.08); }
}
